<?xml version="1.0" encoding="UTF-8"?>
<!-- Locomotion launch file -->

<launch>
    <node name="Sound_Play" pkg="sound_play" type="soundplay_node.py"/>
    <node name="Hexapod_Sounds" pkg="hexapod_sound" type="hexapod_sound" />
    <node name="Playstation3Controller" pkg="joy" type="joy_node" output="screen" />
    <node name="Hexapod_Teleop_Joystick" pkg="hexapod_teleop_joystick" type="hexapod_teleop_joystick" />
    <node name="Hexapod_Locomotion" pkg="hexapod_locomotion" type="hexapod_locomotion" output="screen" />
        <rosparam>
            <!-- Gait Settings -->
            CYCLE_LENGTH: 50
            LEG_LIFT_HEIGHT: 25

            <!-- Define Leg Measurements in mm -->
            COXA_LENGTH:   52.0
            FEMUR_LENGTH:  65.0
            TIBIA_LENGTH:  133.0
            TARSUS_LENGTH: 0

            <!-- Define Angle Offsets in Radians - Usually zero -->
            OFFSET_ANGLE: !degrees 20

            <!-- Define Initial Coxa Offsets in Radians -->
            RR_COXA_ANGLE: !degrees -60
            RM_COXA_ANGLE: 0
            RF_COXA_ANGLE: !degrees 60
            LR_COXA_ANGLE: !degrees -60
            LM_COXA_ANGLE: 0
            LF_COXA_ANGLE: !degrees 60

            <!-- Define distance in mm from center of the axis of the coxa joint -->
            RR_OFFSET_X:  120.0
            RR_OFFSET_Y: -60.0

            RM_OFFSET_X:  0.0
            RM_OFFSET_Y: -100.0

            RF_OFFSET_X: -120.0
            RF_OFFSET_Y: -60.0

            LR_OFFSET_X:  120.0
            LR_OFFSET_Y:  60.0

            LM_OFFSET_X:  0.0
            LM_OFFSET_Y:  100.0

            LF_OFFSET_X: -120.0
            LF_OFFSET_Y:  60.0

            <!-- Define Start Position Of Feet in mm from the coxa joint -->
            <!-- Middle Legs is body center to foot -->
            <!-- math to find positions of front and back legs POS_Y = Middle leg start position * cos(45) -->
            <!-- math to find positions of front and back legs POS_X = Middle leg start position * sin(45) -->

            RR_INIT_FOOT_POS_Y:  134.35
            RR_INIT_FOOT_POS_X:  134.35

            RM_INIT_FOOT_POS_Y:  190.0
            RM_INIT_FOOT_POS_X:  0

            RF_INIT_FOOT_POS_Y:  134.35
            RF_INIT_FOOT_POS_X: -134.35

            LR_INIT_FOOT_POS_Y:  134.35
            LR_INIT_FOOT_POS_X:  134.35

            LM_INIT_FOOT_POS_Y:  190.0
            LM_INIT_FOOT_POS_X:  0

            LF_INIT_FOOT_POS_Y:  134.35
            LF_INIT_FOOT_POS_X: -134.35

            <!-- Distance from ground plane to femur rotation pivot -->
            FOOT_INIT_Z:         55.0
        </rosparam>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hexapod_description)/urdf/hexapod_model_phantomx.xacro'" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <include file="$(find hexapod_bringup)/launch/hexapod_bringup_depth_laserscan.launch" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hexapod_description)/rviz_prefs/urdf.rviz" />
</launch>

